<div>
    <h1 class="text-info pt-4"> Parabéns você está quase concluindo a compra.</h1>
    <p class="pb-3">Recebemos seu pedido e o pagamento será processado logo!</p>
    <img src="https://cdn.w600.comps.canstockphoto.com/congratulations-colorful-with-fireworks-eps-vector_csp79923383.jpg" style="width: 80%;" />
</div>